@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: oklch(0.985 0.001 106.423);
  --foreground: oklch(0.147 0.004 49.25);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0.147 0.004 49.25);
    --foreground: oklch(0.985 0.001 106.423);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

nextjs-portal {
  display: none;
}
